



input {
  color: red;
  }
button{
  width: 50%;
  padding: 12px 20px;
  color :red;
  margin: 8px 0;
  border: 1px solid #ca1d1d;
}
input[type], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ca1d1d;
  border-radius: 4px;
  box-sizing: border-box;
}
